name: plugin Pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.runner }}

    strategy:
      matrix:
        runner: [ 'Linux22' ]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build
        run: |
          echo "Building...."

  deploy:
    runs-on: Linux22

    steps:
      - name: Deploy
        run: |
          curl -H "Authorization: token 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" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/repos/wifisensing/PicoScenes-Driver/actions/workflows/main.yml/dispatches

