name: plugin Pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.runner }}

    strategy:
      matrix:
        runner: [ 'Linux22' ]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build
        run: |
          echo "Building...."

  deploy:
    runs-on: Linux22

    steps:
      - name: Deploy
        run: |
          response=$(curl -X POST -H "Authorization: token $DEPLOY_TOKEN" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/wifisensing/PicoScenes/actions/workflows/main.yml/dispatches \
            -d "{\"ref\":\"master\"}")
          echo "Response: $response"
